#text-block {
    min-height: 200px;
    padding: 3px 6px 3px 3px;
    background: none repeat scroll 0 0 lightgrey;
}

.progress {
    margin-top: 5px;
}

#back_to_the_future {
    font-size: 60px;
    font-style: italic;
    float: left;
    margin-right: 10px;
}

.command-log, .log {
    white-space: pre-wrap;
}

.command-log:before {
    content: '>>>';
}

.log-box {
    margin: 5px auto;
    border: solid 1px grey;
}
