# -*- coding: utf-8 -*-
import os

BASEDIR = os.path.dirname(os.path.realpath(__file__))
DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    ('Admin Name', 'admin@email'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASEDIR, 'sqlite.db'),
    }
}
SECRET_KEY = 'A secret key'

TRYTRY_PROJECT_NAME = 'Try-try project'
# Path to module with steps
TRYTRY_FLOWS = {
    'simple_python': 'trytry.simple_python.tests.simple_python',
    'simple_bash': 'trytry.simple_bash.steps',
}
