{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %}
    <script>
      var flow_name = "{{ flow_name }}",
          step_prompt = "{{ step_prompt|default:'> '}}",
          progress = "{{ progress|default:'1' }}",
          task = "{{ task|default:'Hello to trytry project. If you have any problems, just e-mail us: devnull@try-try.me' }}"
    </script>
    <script src="{% static "js/jquery.terminal-min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/jquery.terminal.css" %}" />
    <script src="{% static "js/main.js" %}"></script>
{% endblock %}
{% block content %}
<div class="row">
  <div class="span10">
    {% if flow_name %}
    <div class="row">
      <div class="8">
        <a id="back_to_the_future" href="/">«</a><h2 id="flow_name">{{ flow_name }}</h2>
        <div id="code-block">
        </div>
        <div id="text-block">
        </div>
        <ul class="pager">
          <li class="previous">
            <a href="#">&larr;</a>
          </li>
          <li class="next">
            <a href="#">&rarr;</a>
          </li>
        </ul>
        <div class="progress progress-success progress-striped">
          <div class="bar" id="flow_progress" style="width: {{ progress|default:'1' }}%">
          </div>
        </div>
      </div>
    {% else %}
    <h1>Welcome to TryTry project!</h1>
    <br />
    <div class="btn-group">
      <h3>Choose a course what you want to study</h3>
        {% for flow in all_flows %}
        <a href="/?flow={{ flow }}" class="btn">{{ flow }}</a>
        {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
